# **Steam Review Analysis**

# *Bianca Finol*

In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\LENOVO\\Documents\\SENECA-BUSINESS ANALITICS PG\\2do Semestre\\BAN200-Sentiment analysis and Text Mining\\Python practices'

In [3]:
dataset=pd.read_csv('dataset.csv')
dataset

,app_id,app_name,review_text,review_score,review_votes
0,10,Counter-Strike,Ruined my life.,1,0
1,10,Counter-Strike,This will be more of a ''my experience with th...,1,1
2,10,Counter-Strike,This game saved my virginity.,1,0
3,10,Counter-Strike,• Do you like original games? • Do you like ga...,1,0
4,10,Counter-Strike,"Easy to learn, hard to master.",1,1
...,...,...,...,...,...
6417101,99910,Puzzle Pirates,I really ove this game but it needs somethings...,-1,0
6417102,99910,Puzzle Pirates,"Used to play Puzzel Pirates 'way back when', b...",-1,0
6417103,99910,Puzzle Pirates,"This game was aright, though a bit annoying. W...",-1,0
6417104,99910,Puzzle Pirates,"I had a nice review to recommend this game, bu...",-1,0
6417105,99910,Puzzle Pirates,"The puzzles in this game are fun, but you have...",-1,0

In [4]:
# Number of word. We use the split function to split the data and count. 

dataset['word_count'] = dataset['review_text'].apply(lambda x: len(str(x).split(" ")))
dataset[['review_text','word_count']].head()

                                         review_text  word_count
0                                    Ruined my life.           3
1  This will be more of a ''my experience with th...         454
2                      This game saved my virginity.           5
3  • Do you like original games? • Do you like ga...          48
4           Easy to learn, hard to master.                    24

In [5]:
# Number of characters
dataset['char_count'] = dataset['review_text'].str.len() ## this also includes spaces
dataset[['review_text','char_count']].head()

                                         review_text  char_count
0                                    Ruined my life.        15.0
1  This will be more of a ''my experience with th...      2357.0
2                      This game saved my virginity.        29.0
3  • Do you like original games? • Do you like ga...       220.0
4           Easy to learn, hard to master.                  48.0

# Basic pre-procesing of text data:

In [6]:
# Lower casing:  This avoids having multiple copies of the same words

dataset['review_text'] = dataset['review_text'].apply(lambda x: " ".join(x.lower() for x in str(x).split()))
dataset['review_text'].head()

0                                      ruined my life.
1    this will be more of a ''my experience with th...
2                        this game saved my virginity.
3    • do you like original games? • do you like ga...
4                       easy to learn, hard to master.
Name: review_text, dtype: object

In [7]:
# Removing Punctuation: 

dataset['review_text'] = dataset['review_text'].str.replace('[^\w\s]','')
dataset['review_text'].head()

<ipython-input-7-505bddccd423>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['review_text'] = dataset['review_text'].str.replace('[^\w\s]','')

0                                       ruined my life
1    this will be more of a my experience with this...
2                         this game saved my virginity
3     do you like original games  do you like games...
4                         easy to learn hard to master
Name: review_text, dtype: object

In [8]:
# Removal of Stop Words: Part of the cleaning data is removing stop words. 
from nltk.corpus import stopwords

In [9]:
stop = stopwords.words('english')

In [10]:
dataset['review_text'] = dataset['review_text'].apply(lambda x: " ".join(x for x in str(x).split() if x not in stop))

In [11]:
dataset['review_text'].head()

0                                          ruined life
1    experience game type review saying things like...
2                                 game saved virginity
3    like original games like games dont lag like g...
4                               easy learn hard master
Name: review_text, dtype: object

In [12]:
# Spelling correction

from textblob import TextBlob
dataset['review_text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                                          ruined life
1    experience game type review saying things like...
2                                  game saved virginia
3    like original games like games dont law like g...
4                               easy learn hard master
Name: review_text, dtype: object

In [13]:
# Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
dataset['review_text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                            ruin life
1    experi game type review say thing like great g...
2                                     game save virgin
3    like origin game like game dont lag like game ...
4                               easi learn hard master
Name: review_text, dtype: object

In [14]:
#Lemmatization
from textblob import Word
dataset['review_text'] = dataset['review_text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
dataset['review_text'].head()

0                                          ruined life
1    experience game type review saying thing like ...
2                                 game saved virginity
3    like original game like game dont lag like gam...
4                               easy learn hard master
Name: review_text, dtype: object

In [15]:
# Tokenization

TextBlob(dataset['review_text'][1]).words

WordList(['experience', 'game', 'type', 'review', 'saying', 'thing', 'like', 'great', 'gameplay', 'suit', 'something', 'ive', 'experienced', 'counterstrike', 'go', 'remember', 'back', '2002', 'friend', 'house', 'playing', 'game', 'didnt', 'know', 'name', 'game', 'internet', 'find', 'week', 'passed', 'another', 'friend', 'came', 'didnt', 'computer', 'brought', 'disc', 'game', 'told', 'one', 'best', 'game', 'moment', 'knew', 'going', 'game', 'saw', 'friend', 'house', 'saw', 'counterstrike', 'logo', 'filled', 'gamegasm', 'happy', 'playing', 'hardcore', 'made', 'friend', 'clan', 'involved', 'community', 'even', 'made', 'two', 'counterstrike', 'first', 'game', 'played', 'competitively', 'experience', 'playing', 'public', 'server', 'mod', 'fun', 'playing', 'competitively', 'made', 'intense', 'stressful', 'pleasant', 'way', 'ofcourse', 'looking', 'current', 'esport', 'scene', 'might', 'seem', 'like', 'much', 'back', 'different', 'shooter', 'day', 'try', 'different', 'advanced', 'way', 'sometimes', 'simple', 'game', 'like', 'counterstrike', 'one', 'live', 'day', 'also', 'plenty', 'mod', 'keep', 'attention', 'game', 'gameplay', 'simple', 'defend', 'counterterrorist', 'attack', 'terrorist', 'plant', 'bomb', 'save', 'hostage', 'ct', 'sure', 'already', 'know', 'doubt', 'gamers', 'havent', 'heard', 'know', 'gameplay', 'counterstrike', 'sharing', 'experience', 'wish', 'could', 'find', 'c', 'anthology', 'account', 'ive', 'lost', 'since', '2008', 'decided', 'going', 'buy', 'game', 'go', 'thousand', 'hour', 'played', 'still', 'play', 'time', 'time', 'day', 'brings', 'back', 'many', 'great', 'memory', 'sometimes', 'even', 'stumble', 'upon', 'people', 'ive', 'played', 'year', 'ago', 'think', 'counterstrike', 'changed', 'gaming', 'major', 'way', 'wouldnt', 'many', 'game', 'like', 'today', 'game', 'wouldnt', 'exist', 'sure', 'many', 'people', 'already', 'played', 'game', 'like', 'csgo', 'never', 'root', 'doubt', 'play', 'hour', 'much', 'simple', 'differs', 'lot', 'opinion', 'csgo', 'modern', 'game', 'harder', 'though'])

In [16]:
TextBlob(dataset['review_text'][1]).sentences

[Sentence("experience game type review saying thing like great gameplay suit something ive experienced counterstrike go remember back 2002 friend house playing game didnt know name game internet find week passed another friend came didnt computer brought disc game told one best game moment knew going game saw friend house saw counterstrike logo filled gamegasm happy playing hardcore made friend clan involved community even made two counterstrike first game played competitively experience playing public server mod fun playing competitively made intense stressful pleasant way ofcourse looking current esport scene might seem like much back different shooter day try different advanced way sometimes simple game like counterstrike one live day also plenty mod keep attention game gameplay simple defend counterterrorist attack terrorist plant bomb save hostage ct sure already know doubt gamers havent heard know gameplay counterstrike sharing experience wish could find c anthology account ive lost since 2008 decided going buy game go thousand hour played still play time time day brings back many great memory sometimes even stumble upon people ive played year ago think counterstrike changed gaming major way wouldnt many game like today game wouldnt exist sure many people already played game like csgo never root doubt play hour much simple differs lot opinion csgo modern game harder though")]

In [ ]:
# Split the data in training and testing
training_data = dataset['review_text'].sample(frac=0.8, random_state=25)
testing_data = dataset['review_text'].drop(training_data.index)

print(f"No. of training examples: {training_data.shape[0]}")
print(f"No. of testing examples: {testing_data.shape[0]}")

In [ ]:
training_data.head()